//- include ../button/button.pug
include ./mixins/arrow-down.pug
include ./mixins/minus-in-circle.pug
include ./mixins/plus-in-circle.pug
include ../button/button.pug
include ../caption/caption.pug


mixin dropdown(width,cap)
  .dropdown()
    +caption(cap)
    .dropdown__drpdn(style="" + width)
      button.dropdown__btn(style="" + width) Сколько гостей
      ul.dropdown-list
        li.dropdown-list__item взрослые
          span.dropdown-list__item-subtitle
          .dropdown-list__item-change-quantity
            +minus-in-circle("pic-deduct-adults", "adults")
            span.dropdown-list__item-counter-quantity 0
            +plus-in-circle("pic-add-adults")
        li.dropdown-list__item дети
          span.dropdown-list__item-subtitle
          .dropdown-list__item-change-quantity
            +minus-in-circle("pic-deduct-adults", "adults")
            span.dropdown-list__item-counter-quantity 0
            +plus-in-circle("pic-add-adults")
        li.dropdown-list__item младенцы
          span.dropdown-list__item-subtitle
          .dropdown-list__item-change-quantity
            +minus-in-circle("pic-deduct-adults", "adults")
            span.dropdown-list__item-counter-quantity 0
            +plus-in-circle("pic-add-adults")
        li.dropdown-list__btn
          +button("button_text", "очистить", "width:auto;", "height:15px;")
          +button("button_text", "применить", "width:auto;", "height:15px;")