@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";


.length-stay {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: $white;
  & .arrow-down {
    margin: 5px 0px 0px 0px;
  }
}

.date-arrival {
  position: relative;
  & .arrow-down {
    position: absolute;
    top: 32px;
    right: 15px;
  }
  & .caption {
    margin-bottom: 7px;
  }
}
.date-arrival__dropdown {
  width: 15rem;
  padding: 11px 14px 13px 15px;
  background: $white;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color:  $dark-75;
  &:hover {
    border: 1px solid $dark-50;
  }
  &::placeholder {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: $dark-25;
  }
}

.date-departure {
  position: relative;
  & .arrow-down {
    position: absolute;
    top: 32px;
    right: 15px;
  }
  & .caption {
    margin-bottom: 7px;
  }
}

.date-departure__dropdown {
  width: 15rem;
  padding: 11px 14px 13px 15px;
  background: $white;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 18px;
  color:  $dark-75;
  &:hover {
    border: 1px solid $dark-50;
  }
  &::placeholder {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: $dark-25;
  }
}