/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../../../assets/fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../../../assets/fonts/Montserrat-Bold.woff') format('woff'), url('../../../assets/fonts/Montserrat-Bold.ttf') format('truetype'), url('../../../assets/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../../assets/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../../../assets/fonts/Montserrat-Regular.woff') format('woff'), url('../../../assets/fonts/Montserrat-Regular.ttf') format('truetype'), url('../../../assets/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-Bold';
	src: url('../../../assets/fonts/Quicksand-Bold.eot');
	src: local('☺'), url('../../../assets/fonts/Quicksand-Bold.woff') format('woff'), url('../../../assets/fonts/Quicksand-Bold.ttf') format('truetype'), url('../../../assets/fonts/Quicksand-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-Regular';
	src: url('../../../assets/fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../../../assets/fonts/Quicksand-Regular.woff') format('woff'), url('../../../assets/fonts/Quicksand-Regular.ttf') format('truetype'), url('../../../assets/fonts/Quicksand-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
.content {
  .logo {
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .container {
    max-width: 1440px;
    border: 1px solid black;
    display: flex;

    .colors {
      margin-left: 150px;
      margin-top: 66px;

      .colors-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .colors-item {
          display: flex;
          align-items: center;
          width: 281px;
          font-family: 'Montserrat-Bold';
          font-weight: 700;
          justify-content: space-between;
          font-size: 19px;
          line-height: 28px;
          margin-bottom: 20px;
          color: #1F2041;

          .colors-item__color {
            width: 70px;
            height: 70px;
            border-radius: 6px;
          }

          .dark-100 {
            background-color: #1F2041;
          }

          .dark-75 {
            background-color: rgba(31, 32, 65, 0.75);
          }

          .dark-50 {
            background-color: rgba(31, 32, 65, 0.5);
          }

          .dark-25 {
            background: rgba(31, 32, 65, 0.25);
          }

          .dark-5 {
            background: rgba(31, 32, 65, 0.05);
          }

          .purple {
            background: #BC9CFF;;
          }

          .green {
            background:  #6FCF97;
          }

          .colors-item__description {
            width: 173px;

            .colors-item__description-code {
              font-family: 'Montserrat-Regular';
              font-weight: 400;
              margin-left: 1px;
            }
          }
        }
      }
    }
  }
}