@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.text-field {
}

.text-field__wrap-caption {
  margin-bottom: 5px;
}

.text-field__input {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  
  width: 32rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-top: 1px;
  background: #FFFFFF;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  &::placeholder {
    font-family: 'Montserrat-Regular';
    font-size: 1.4rem;
    color: $dark-25;
    }
  &:hover {
    font-size: 1.4rem;
    border: 1px solid $dark-50;
  }  
}