mixin colors-list__item(name, code)
  li.colors-list__item
    div(class="colors-list__item-color " + attributes.class)
    div.colors-list__item-description
      p.colors-list__item-description-name #{name}
      p.colors-list__item-description-code #{code}