mixin colors-item(name, code)
  li.colors-item
    div(class="colors-item__color " + attributes.class)
    div.colors-item__description
      p.colors-item__description-name #{name}
      p.colors-item__description-code #{code}