include ../caption/caption.pug

mixin range-slider()
  .range-slider
    +caption("Range Slider")
    .range-slider__price-range
      .range-slider__inputs
        input.range-slider__input#input-0(type="number" placeholder="5000₽")
        span -
        input.range-slider__input#input-1(type="number" placeholder="10000₽")
    #range-slider()