doctype html
html(lang="en")
  head
    meta(charset = "utf-8")
    meta(name = "viewport", content = "initial-scale=1.0", width=device-width)
    title Webpack app
    link(rel="icon", src=require("./favicon.ico").default, type="image/x-icon")
  body
    .container
      a(href="./ui_kit/ui_kit-1.html") ui_kit
      h1 Pug - node template engine!!!
      include ../../components/h1/block1.pug
      p.text_1
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        |Perspiciatis non cumque enim ab, nihil asperiores a voluptates, 
        |inventore ipsum dolorum deserunt corporis sed minus temporibus 
        |eos deleniti id? Architecto, nisi.
      p.text_2
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        |Perspiciatis non cumque enim ab, nihil asperiores a voluptates, 
        |inventore ipsum dolorum deserunt corporis sed minus temporibus 
        |eos deleniti id? Architecto, nisi.  
      img(src=require("./a-1.jpg"), alt="cat")