include ./mixins/arrow-down.pug

mixin filter-dates (imgRowDown_filter_date)
  .filter-dates
    .caption
      p filter date dropdown
  .filter-dates__dropdown
    .filter-dates__dates-of-stay
      .filter-dates__arrival 19 авг
      span  &nbsp-&nbsp
      .filter-dates__departure 23 авг
    +arrow-down()