include ./mixins/arrow-down.pug

mixin filter-dates (imgRowDown_filter_date)
  div.filter-dates
    div.caption
      p filter date dropdown
  div.filter-dates__dropdown
    div.filter-dates__dates-of-stay
      div.filter-dates__arrival 19 авг
      span  &nbsp-&nbsp
      div.filter-dates__departure 23 авг
    +arrow-down()