include ../../../components/length-stay/length-stay.pug
include ../../../components/amount-guest/amount-guest.pug
include ../../../components/filter-date/filter-date.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/permissions-checkbox/permissions-checkbox.pug

- var imgRowDown_length_stay = 'components/length-stay/img/row_down';
- var imgRowDown_amount_guest = 'components/amount-guest/img/row_down';
- var imgCircleDeduct_amount_guest = 'components/amount-guest/img/circle-deduct';
- var imgCircleAdd_amount_guest = 'components/amount-guest/img/circle-add';
- var imgRowDown_filter_date = 'assets/img/row_down';
- var imgRow_subscription_field = 'components/subscription-field/img/arrow_forward';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    div.wrapper
      div.header
        img.logo(src=require("../../../assets/img/logo.svg"), alt="Логотип")
      main.main
        div.form-elements
          div.form-elements__column.form-elements__column_1
            div.form-elements__column-item
              div.email-box
                div.caption
                  p Text Field
                  p Default
                input.input-email(type="email" placeholder="Email")
            div.form-elements__column-item
              div.email-box
                div.caption
                  p Text Field
                  p Hover / Focus
                input.input-email(type="email" placeholder="Email")
            div.form-elements__column-item
              +amount-guests(imgRowDown_amount_guest,imgCircleDeduct_amount_guest,imgCircleAdd_amount_guest) 
            div.form-elements__column-item
              div.masked-date
                div.caption
                  p Masked text field
                  p
                div.masked-date__field ДД.ММ.ГГГГ
            div.form-elements__column-item
              +length-stay("date Dropdown","date Dropdown",imgRowDown_length_stay)
            div.form-elements__column-item  
              +filter-dates(imgRowDown_filter_date)
            div.form-elements__column-item
              +subscription-field(imgRow_subscription_field)
          div.form-elements__column.form-elements__column_2
            div.form-elements__column-item
              +permissions-checkbox()
          div.form-elements__column
      footer.footer