include ../../../components/length-stay/length-stay.pug
//- include ../../../components/amount-guest/amount-guest.pug
include ../../../components/filter-date/filter-date.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/permissions-checkbox/permissions-checkbox.pug
include ../../../components/gender-select/gender-select.pug
include ../../../components/special-offers/special-offers.pug
include ../../../components/caption/caption.pug
include ../../../components/text-field/text-field.pug
include ../../../components/like-button/like-button.pug
include ../../../components/rating/mixins/rating-stars.pug
include ../../../components/rating/rating.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/button/button.pug
include ../../../components/button-next/button-next.pug
include ../../../components/dropdown/dropdown.pug

- var imgRowDown_length_stay = 'components/length-stay/img/row_down';
- var imgRowDown_amount_guest = 'components/amount-guest/img/row_down';
//- - var imgCircleDeduct_amount_guest = 'components/amount-guest/img/circle-deduct';
//- - var imgCircleAdd_amount_guest = 'components/amount-guest/img/circle-add';
- var imgRowDown_filter_date = 'assets/img/row_down';
//- - var imgRow_subscription_field = 'components/subscription-field/img/arrow_forward';
//- img(src=require(`/src/${imgCircleDeduct}.svg`), alt="Кружок уменьшения").pic-deduct-babies

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    .wrapper
      .header
        img.logo(src=require("../../../assets/img/logo.svg"), alt="Логотип")
      main.main
        .form-elements
          .form-elements__column.form-elements__column_1
            .form-elements__column-item
              +text-field("Text Field","Default","text","Email")
            .form-elements__column-item
              +text-field("Text Field","Hover / Focus","text","This is pretty awesome")
            .form-elements__column-item
              +dropdown("width:100%;","dropdown")
              //- +amount-guests(imgRowDown_amount_guest,imgCircleDeduct_amount_guest,imgCircleAdd_amount_guest) 
            .form-elements__column-item
              .date-text-field
                .date-arrival
                  +caption("masked text field")
                  input.date-arrival__dropdown.date-arrival__dropdown_w_100(type="text" name="date-arrival" placeholder="ДД.ММ.ГГГГ")
            .form-elements__column-item
              +length-stay("date Dropdown","date Dropdown",imgRowDown_length_stay)
            .form-elements__column-item  
              +filter-dates(imgRowDown_filter_date)
            .form-elements__column-item
              +subscription-field()
          .form-elements__column.form-elements__column_2
            .form-elements__column-item
              +permissions-checkbox()
            .form-elements__column-item
              +gender-select()
            .form-elements__column-item
              +special-offers("toogle")
            .form-elements__column-item
              +special-offers()
            .form-elements__column-item
              +caption("like button")
              +like-button(1)
              +like-button(12)
            .form-elements__column-item
              +caption("rate button")
              .inner
                +rating()
                +rating()
          .form-elements__column.form-elements__column_3
            .form-elements__column-item
              +range-slider()
            .form-elements__column-item
              +caption("buttons")
              .wrap-btn
                +button("button_back", "click me", "width:99px;", "height:44px;")
                +button("button_back", "click me", "width:99px;", "height:44px;")
            .form-elements__column-item
              .wrap-btn
                +button("button_border", "click me", "width:99px;", "height:44px;")
                +button("button_border", "click me", "width:99px;", "height:44px;")
            .form-elements__column-item
              .wrap-btn
                +button("button_text", "click me", "width:auto;", "height:15px;")
                +button("button_text", "click me", "width:auto;", "height:15px;")
            .form-elements__column-item
              .wrap-btn
                +button-next("перейти к оплате", "width:100%;", "height:44px;")
          .form-elements__column.form-elements__column_4
            .form-elements__column-item
                +dropdown("width:26.6rem;","dropdown")
            .form-elements__column-item
                +dropdown("width:26.6rem;","dropdown")
          .form-elements__column.form-elements__column_5
            .form-elements__column-item
                +dropdown("width:32rem;","dropdown")
      footer.footer