include ../../../components/length-stay/length-stay.pug
include ../../../components/amount-guest/amount-guest.pug
include ../../../components/filter-date/filter-date.pug
include ../../../components/subscription-field/subscription-field.pug
include ../../../components/permissions-checkbox/permissions-checkbox.pug
include ../../../components/gender-select/gender-select.pug
include ../../../components/special-offers/special-offers.pug
include ../../../components/caption/caption.pug
include ../../../components/text-field/text-field.pug
include ../../../components/like-button/like-button.pug
include ../../../components/rating/mixins/rating-stars.pug
include ../../../components/rating/rating.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/button-next/button-next.pug

- var imgRowDown_length_stay = 'components/length-stay/img/row_down';
- var imgRowDown_amount_guest = 'components/amount-guest/img/row_down';
//- - var imgCircleDeduct_amount_guest = 'components/amount-guest/img/circle-deduct';
//- - var imgCircleAdd_amount_guest = 'components/amount-guest/img/circle-add';
- var imgRowDown_filter_date = 'assets/img/row_down';
//- - var imgRow_subscription_field = 'components/subscription-field/img/arrow_forward';
//- img(src=require(`/src/${imgCircleDeduct}.svg`), alt="Кружок уменьшения").pic-deduct-babies

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    div.wrapper
      div.header
        img.logo(src=require("../../../assets/img/logo.svg"), alt="Логотип")
        //- svg(class="arrow-forward" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        //-   path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="url(#paint0_linear_18445:386)")
        //-   defs
        //-     linearGradient(id="paint0_linear_18445:386" x1="9" y1="-13" x2="9" y2="31" gradientUnits="userSpaceOnUse")
        //-       stop(stop-color="#BC9CFF")
        //-       stop(offset="1" stop-color="#8BA4F9")
      main.main
        div.form-elements
          div.form-elements__column.form-elements__column_1
            div.form-elements__column-item
              +text-field("Text Field","Default","text","Email")
            div.form-elements__column-item
              +text-field("Text Field","Hover / Focus","text","This is pretty awesome")
            div.form-elements__column-item
              +amount-guests(imgRowDown_amount_guest,imgCircleDeduct_amount_guest,imgCircleAdd_amount_guest) 
            div.form-elements__column-item
              div.date-text-field
                div.date-arrival
                  +caption("masked text field")
                  input.date-arrival__dropdown.date-arrival__dropdown_w_100(type="text" name="date-arrival" placeholder="ДД.ММ.ГГГГ")
            div.form-elements__column-item
              +length-stay("date Dropdown","date Dropdown",imgRowDown_length_stay)
            div.form-elements__column-item  
              +filter-dates(imgRowDown_filter_date)
            div.form-elements__column-item
              +subscription-field()
          div.form-elements__column.form-elements__column_2
            div.form-elements__column-item
              +permissions-checkbox()
            div.form-elements__column-item
              +gender-select()
            div.form-elements__column-item
              +special-offers("toogle")
            div.form-elements__column-item
              +special-offers()
            div.form-elements__column-item
              +caption("like button")
              +like-button(1)
              +like-button(12)
            div.form-elements__column-item
              +caption("rate button")
              div.inner
                +rating()
                +rating()
          div.form-elements__column.form-elements__column_3
            div.form-elements__column-item
              +range-slider()
            div.form-elements__column-item
              +caption("buttons")
              div.wrap-btn
                div.button
                  button.button__btn click me
                div.button
                  button.button__btn click me
            div.form-elements__column-item
              div.wrap-btn
                div.button-border
                  button.button-border__btn click me
                div.button-border
                  button.button-border__btn click me
            div.form-elements__column-item
              div.wrap-btn
                dib.button-text
                  div.button-text__btn click me
                dib.button-text
                  div.button-text__btn click me
            div.form-elements__column-item
              div.wrap-btn
                +button-next()
      footer.footer