doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    div.wrapper
      div.header
        img.logo(src=require("../../../assets/img/logo.svg"), alt="cat")
      main.main
        div.form-elements
          div.form-elements__column
            div.email-box.form-elements__column-item
              div.caption
                p Text Field
                p Default
              input.input-email(type="email" placeholder="Email")
            div.email-box.form-elements__column-item
              div.caption
                p Text Field
                p Hover / Focus
              input.input-email(type="email" placeholder="Email")
            div.amount-guests.form-elements__column-item
              div.caption
                p Dropdown
              input.dropdown-guest(type="email" placeholder="Email")
          div.form-elements__column
          div.form-elements__column
      footer.footer