@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.like-button {
  position: relative;
  background: $white;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  font-family: 'Montserrat-Regular';
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: $dark-25;
  & .pic-heart {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  &:hover {
    border: 1px solid $purple;
  }
  &:hover path{
    fill:$purple; 
    fill-opacity:1;
  }
  &:hover > .like-button__like-counter {
    color: $purple;
  }
}

.like-button__like-counter {
  margin-left: 11px;
}

// .like-button {
//   position: relative;
//   background: $white;
//   border: 1px solid $dark-25;
//   box-sizing: border-box;
//   border-radius: 10px;
//   width: 40px;
//   height: 20px;
//   font-family: 'Montserrat-Regular';
//   font-size: 10px;
//   line-height: 12px;
//   text-align: center;
//   color: $dark-25;
//   & .pic-heart {
//     position: absolute;
//     left: 5px;
//     top: 5px;
//   }
//   &:hover {
//     border: 1px solid $purple;
//   }
//   &:hover path{
//     fill:$purple; 
//     fill-opacity:1;
//   }
//   &:hover > .like-button__like-counter {
//     color: $purple;
//   }
// }