include ../caption/caption.pug
include ./mixins/arrow-down.pug
include ./mixins/plus-in-circle.pug
include ./mixins/minus-in-circle.pug
include ../button/button.pug

mixin amount-guests (imgRowDown,imgCircleDeduct,imgCircleAdd)
  .amount-guests
    .amount-guests__wrap-caption
      +caption('Dropdown')
    .amount-guest__dropdown
      .amount-guest__dropdown-desc Сколько гостей
      +arrow-down()
    ul.amount-guest__list
      li.amount-guest__list-item
        div Взрослые
        .amount-guest__adults
          +minus-in-circle("pic-deduct-adults", "adults")
          .amount-guest__quantity-adults 0
          +plus-in-circle("pic-add-adults")
      li.amount-guest__list-item
        div Дети
        .amount-guest__children
          +minus-in-circle("pic-deduct-children","children")
          .amount-guest__quantity-children 0
          +plus-in-circle("pic-add-children")
      li.amount-guest__list-item
        div Младенцы
        .amount-guest__babies
          +minus-in-circle("pic-deduct-babies","babies")
          .amount-guest__quantity-babies 0
          +plus-in-circle("pic-add-babies")
      li.amount-guest__list-buttons
        +button("button_text", "очистить")(class="amount-guest__btn-clear")
        +button("button_text", "применить")(class="amount-guest__btn-apply")