mixin special-offers(caption)
  .special-offers
    .caption
      p=caption
    .special-offers__toogle 
      input.special-offers__checkbox#special-offers__checkbox(type="checkbox")
      label.special-offers__label(for="special-offers__checkbox")
      span Получать спецпредложения