mixin special-offers(caption)
  div.special-offers
    div.caption
      p=caption
    div.special-offers__toogle 
      input.special-offers__checkbox#special-offers__checkbox(type="checkbox")
      label.special-offers__label(for="special-offers__checkbox")
      span Получать спецпредложения