mixin subscription-field(imgRow_subscription_field)
  div.subscription-field
    div.caption
      p subscription text field
    input.subscription-field__input(type="email" name="useremail" value="" placeholder="Email")
    img.pic-arrow-forward(src=require(`/src/${imgRow_subscription_field}.svg`), alt="Стрелка вправо")