mixin gender-select()
  .gender-select
    .caption
      p Radio Buttons
    .gender-select__btns
      label.gender-select__label
        input.gender-select_radio(type="radio" name="gender" value="man")
        span #[p Мужчина]
      label.gender-select__label
        input.gender-select_radio(type="radio" name="gender" value="female")
        span #[p Женщина]