include ../caption/caption.pug

mixin text-field(title,subtitle,type,placeholder)
  .text-field
    .text-field__wrap-caption
      +caption(title,subtitle)
    input.text-field__input(type=type placeholder=placeholder)